.App {
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #121212;
}

/* headr */
.App-header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.App-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.App-logo {
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid transparent;
  font-size: 15px;
}

.Img-icon {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
}

/* main */
.App-main {
  display: flex;
  justify-content: center;
  padding: 100px;
  border-radius: 10px;
  font-size: 15px;
}

.App-card {
  background-color: #222;
  border-radius: 10px;
  flex-grow: 1;
  min-height: 200px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px #00000080;
}

/* maldito seja o grid */
.App-card.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.App-card.list-view {
  display: flex;
  flex-direction: column;
}

/* footer */
.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: left;
  padding: 10px;
  width: 100%;
}

.App-footer button {
  background: transparent;
  border: none;
  padding: 0 15px;
}

.User-card,
.Post-card,
.Comment-card {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.1s;
}

.User-card:hover,
.Post-card:hover,
.Comment-card:hover {
  transform: scale(1);
  background-color: #444;
}

button {
  margin: 10px;
}

/* usesr */
.user-name {
  font-weight: bold;
  color: #88def8;
}

.user-phrase {
  font-style: italic;
  color: #f3f5f7;
  margin: 10px;
}

/* post */

.post-title {
  font-weight: bold;
  color: #88def8;
}

.post-body {
  color: #f3f5f7;
}

/* comments */
.first-name {
  color: #88def8;
}

.last-name {
  font-style: italic;
  color: #88def8;
}

.email {
  color: #0077ff;
  font-weight: bold;
}

/* comennt card */
.Comment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  text-align: center;
  margin: 5px 0;
  font-weight: bold;
  color: #000000;
}
